body {
    background-color: #da1336b5;
    font-family: 'Coda Caption', sans-serif;
}
.logo {
    height: 55px;
    width: 55px;
}
.caption {
    background-color: rgb(232,14,14,0.6);
}
.img-caption {
    color: #131211;
    line-height: 90%!important;
}
.nav-icons {
    height: 20px;
    width: 20px;
}
.card-panel {
    border-radius: 75px;
    background-color: #d9e61357;
}
.card {
    border-radius: 70px;
    background-color: #f3c5c5;
}
.btn-large {
    border-radius: 32px;
}
#bg-image {
    background: url(../images/rainbow.png);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#city {
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}
nav ul a {
font-size: 1.5rem!important;
}
.card .card-image img  { 
    height: 18.75rem;
    border-bottom-left-radius: 69px;
    border-end-start-radius: 100px;
    box-shadow: -9px 2px 4px #c1a8ad;
    border-start-start-radius: 32px;
    border-top-right-radius: 74px;
}
.flash-msg {
    text-transform: capitalize;
    color: #0171c0;
}

.search-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:#B71C1C;
    height: 40px; 
    border-radius: 40px;
    padding: 10px;
    transition: all ease-in-out 0.6s;
}
.search-container:hover {
    width: 500px;
    transition: all ease-in-out 0.6s;
}

 input.search-text {
    border-bottom: none!important;
    width: 80%!important;
    height: 26px!important;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
} 
.search-button{
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#B71C1C;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.modal {
    /* https://pixabay.com/illustrations/illustration-child-clipart-graphics-2814002/ */
    background: url(../images/modal.png);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 55vh;
    max-width: 600px;
}
.modal .modal-footer {
    background-color: transparent;
    text-align: center;
   
}
.modal .modal-content {
    text-align: center;
    margin-top: 36%;
}