.logo {
    height: 55px;
    width: 55px;
}
.custom-icons {
    font-size: 18px!important;
}

.caption {
    background-color: rgb(232,14,14,0.6);
}
.img-caption {
    color: #131211;
    line-height: 90%!important;
}
.nav-icons {
    height: 30px;
    width: 30px;
}
.card-panel {
    border-radius: 75px;
    background-color: #d9e61357;
}
.btn-large {
    border-radius: 32px;
}
#bg-image {
    background: url(../images/rainbow.png);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav ul a {
font-size: 2rem!important;
}