{% extends "base.html" %}
{% block content %}

<div class="row col s12 center-align">
  <h3 class="center-align titles">ERROR 404!</h3>
</div>
<div class="row">
    <div class="col s12 center-align">
      <a href="{{ url_for('get_activities')}}" class="btn-large waves-effect waves-light red darken-3">Oops, you've gone too far... Click here ro return</a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <img src="{{ url_for('static',filename='images/girl.png') }}" alt="Photo of a sad face girl" id="city">
      </div>
    </div>
  </div> 
{% endblock  %}