{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Log In</h3>

    <div class="row bg-image" >
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login')}}">
            <div class="card-panel">
                <!-- Username input field -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" name="username" type="text" class="validate" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" required>
                        <label for="username"><i class="material-icons">person</i></label>
                    </div>
                    <!-- Password input field -->
                    <div class="row">
                        <div class="input-field col s12 ">
                            <input id="password" name="password" type="password" class="validate" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" required>
                            <label for="password"> <i class="material-icons">password</i> </label>
                        </div>
                    </div>
                    <!-- Submit Button -->
                    <button class="col s12 m2 offset-m5 btn-large waves-effect register-btn" type="submit" name="action">
                        Log In
                        <i class="material-icons left">login</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            Do not have an account yet? 
            <a href="{{ url_for('register') }}" class="light-blue-text text-darken-4">Register here</a>
        </p>
    </div>
</div>

{% endblock %}