{% extends "base.html" %}
{% block content %}


<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register')}}">
        <div class="card-panel">
            <!-- Username input field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person_add</i>
                    <input id="username" name="username" type="text" class="validate">
                    <label for="username">Username</label>
                </div>
                <!-- Password input field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- Submit Button -->
                <button class="col s12 btn-large waves-effect waves-light red darken-3" type="submit" name="action">
                    Register
                    <i class="material-icons">send</i>
                </button>
            </div>
        </div>
    </form>
</div>


{% endblock %}